<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>{{ 'anms.title.long' | translate }}</h1>
      <div class="actions">
        <!--
        <a [ngClass]="routeAnimationsElements" mat-raised-button class="actions-main" color="primary" routerLink="../features">
          {{ 'anms.menu.features' | translate }}
        </a>
        <a mat-raised-button class="actions-main" color="accent" routerLink="../examples" [ngClass]="routeAnimationsElements">
          {{ 'anms.menu.examples' | translate }}
        </a>
        <a mat-raised-button class="actions-main" color="warn" routerLink="../settings" [ngClass]="routeAnimationsElements">
          {{ 'anms.about.change-theme' | translate }}
        </a>
        <br>
        -->
        <span [ngStyle]="{'font-size': '30px'}" [ngClass]="routeAnimationsElements">{{ 'anms.about.check-blogs' | translate }}</span>
        <br>
        <iframe src="https://player.vimeo.com/video/303686233" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="get-started" [ngClass]="routeAnimationsElements">
        <h1 data-testid='get-started'>{{ 'anms.about.get-started' | translate }}</h1>
        
      </div>
    </div>
  </div>
</div>
